.tech-section{
    width: 85%;
    margin: 100px auto 0;
}

.tech-lib-img{
    width: 100px;
}
.techs{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.techs .tech-box{
    width: 100px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.techs .tech-box:hover{
    border-color: rgba(0, 0, 0, 0.705);
}