.header{
    height: 100vh;
    box-sizing: border-box;
    text-transform: uppercase;
    display: grid;
    grid-template-areas: 
    "menu menu"
    "links centro";
    grid-template-columns: 100px 1fr;
}
.externalLinks{
    grid-area: links;
}
.central-box{
    grid-area: centro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.central-box img{
    width: 20vw;
}
.header .menu{
    grid-area: menu;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.644);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px black;
}