.header{
    height: 100vh;
    opacity: 5 0px;
    text-transform: uppercase;
    display: grid;
    grid-template-areas: 
    "menu menu"
    "links centro";
    grid-template-columns: 100px calc(100vw - 100px);
}
.externalLinks{
    grid-area: links;
}
.central-box{
    grid-area: centro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.central-box img{
    width: 20vw;
}
.header .menu{
    grid-area: menu;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}